{% if site.data.timeline-entries %}
<div class="timeline">
    {% assign te = site.data.timeline-entries %}
    {% for entry in te %}
        {% assign key = entry | first %}
        {% if te[key].year %}
            <div class="{{ te[key].side }}">
                <div class="timeline-content">
                    <h2>{{ te[key].year }}</h2>
                    <h3>{{ te[key].title }}</h3>
                    {% if te[key].desc %}
                        <p>{{ te[key].desc }}</p>
                    {% endif %} 
                    <div class="timeline-media">
                        {% if te[key].media %}
                            <iframe src="{{ te[key].media }}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        {% endif %}
                        {% if te[key].media2 %}
                            <iframe src="{{ te[key].media2 }}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}